<div class="row justify-content-md-center">

  <%  if @article.errors.any? %>
    <div class="alert alert-danger" role="alert">


     <%=  pluralize(@article.errors.count,"error")%>
          Errors, can't perform action:

          <ul >
            <%  @article.errors.full_messages.each do |msg| %>

                <li><%= msg %></li>

            <% end %>
          </ul>








    </div>

  <% end %>


</div>



<div class="row justify-content-md-center">

<%= form_for @article do |a| %>

     <div class="form-row">


      <div class="form-group col-md-12">
        <%= a.label :title  %>
        <%= a.text_field :title , class: "form-control" %>

      </div>
     </div>
      <div class="form-row">
      <div class="form-group col-md-12">
        <%= a.label :description %>
        <%= a.text_area :description , class: "form-control" %>

      </div>

      </div>



      <%= a.submit  class: "btn btn-primary" %>


<% end %>
</div>